<h3> View Employee Details</h3>
<div>
    <div>
        <label> <b> First Name: </b></label> {{employee.first_name}}
    </div>
    <div>
        <label> <b> Last Name: </b></label> {{employee.last_name}}
    </div>
    <div>
        <label> <b> Gender: </b></label> {{employee.gender}}
    </div>
    <div>
        <label> <b> Job title: </b></label> {{employee.job_title}}
    </div>
    <div>
        <label> <b> Contract start date: </b></label> {{employee.contract_start_date}}
    </div>
    <div>
        <label> <b> Contract end date: </b></label> {{employee.contract_end_date}}
    </div>
    <div>
        <label> <b> Department: </b></label> {{employee.department}}
    </div>
    <div>
        <label> <b> Manager: </b></label> {{employee.manager}}
    </div>
</div>